body {
    border: dashed 2px Blue;
}

header {
    color: mediumslateblue;
    border: solid 2px Green;
    align-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: honeydew;
    text-align: center;
    font-weight: bold;
}


footer {
    color: mediumslateblue;
    border: solid 2px Green;
    align-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: honeydew;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}
